{% extends 'base.html.twig' %}

{% block body %}
	{# <div class="jumbotron text-center">
			<h1>Agence lorem ispum</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis commodi earum pariatur nostrum rerum praesentium iste, reiciendis quis velit itaque odit inventore, unde debitis fugit consectetur quae non nemo recusandae!</p>
		</div> #}

	<div class="container-fluid bg-dark text-light p-5">
		<div class="container bg-dark p-5">
			<h1 class="display-4">Agence lorem ispum</h1>
			<hr>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque deleniti, aliquam animi odit quis inventore nobis, sed velit quod possimus similique deserunt. Commodi saepe vitae ipsam iusto alias omnis hic?</p>
		</div>
	</div>
{% endblock %}
