{% extends 'base.html.twig' %}

{% block title 'Agence lorem ispum'%}

{% block body %}
	<div class="container-fluid bg-dark text-light p-5">
		<div class="container bg-dark p-5">
			<h1 class="display-4">Agence lorem ispum</h1>
			<hr>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque deleniti, aliquam animi odit quis inventore nobis, sed velit quod possimus similique deserunt. Commodi saepe vitae ipsam iusto alias omnis hic?</p>
		</div>
	</div>
{% endblock %}
