{% extends 'base.html.twig' %}

{% block title 'Tous nos biens'%}

{% block body %}
	<div class="container-fluid bg-dark text-light p-5">
		<div class="container bg-dark p-5">
			<h1 class="display-4">Voir tous nos biens</h1>
			<hr>
		</div>
	</div>
{% endblock %}
